# -*- mode: shell-script -*-
# shellcheck shell=bash

: "${RPC_SERVICE_TIMEOUT:=60}"

VALIDATOR_SERVICE=${VALIDATOR_PACKAGE}.service

step::00::wait-for-a-stable-environment() {
    cloud-init::wait-for-stable-environment
}

step::05::setup-abklabs-apt() {
    apt::setup-abk-apt-source
}

step::10::install-packages() {
    svmkit::apt::update
    svmkit::apt::get --allow-downgrades install "${PACKAGE_LIST[@]}"
}

step::20::create-sol-user() {
    create-sol-user
}

step::30::copy-validator-keys() {
    svmkit::sudo cp validator-keypair.json vote-account-keypair.json /home/sol
    svmkit::sudo chown sol:sol /home/sol/{validator-keypair,vote-account-keypair}.json
}

step::40::configure-firewall() {
    svmkit::sudo ufw allow 53
    svmkit::sudo ufw allow ssh
    svmkit::sudo ufw allow 8000:8020/tcp
    svmkit::sudo ufw allow 8000:8020/udp
    # TODO: Only open for RPC nodes
    svmkit::sudo ufw allow 8899/tcp
    svmkit::sudo ufw allow 8899/udp
    svmkit::sudo ufw allow 8900/tcp

    svmkit::sudo ufw --force enable
}

step::60::setup-solana-cli() {
    [[ -v SOLANA_CLI_CONFIG_FLAGS ]] || return 0

    # First setup the login user.
    solana config set "${SOLANA_CLI_CONFIG_FLAGS[@]}"

    # Setup the sol user.
    svmkit::sudo -u sol -i solana config set "${SOLANA_CLI_CONFIG_FLAGS[@]}"
}

step::70::setup-validator-startup() {
    if systemctl list-unit-files "${VALIDATOR_SERVICE}" >/dev/null; then
        svmkit::sudo systemctl stop "${VALIDATOR_SERVICE}" || true
    fi

    cat <<EOF | svmkit::sudo tee /home/sol/stop-validator >/dev/null
#!/usr/bin/env bash

$VALIDATOR_ENV exec $VALIDATOR_PROCESS --ledger $LEDGER_PATH exit ${VALIDATOR_EXIT_FLAGS[@]@Q}
EOF

    cat <<EOF | svmkit::sudo tee /home/sol/run-validator >/dev/null
#!/usr/bin/env bash

$VALIDATOR_ENV exec $VALIDATOR_PROCESS $VALIDATOR_FLAGS
EOF

    svmkit::sudo cp check-validator /home/sol/.

    for i in run-validator check-validator stop-validator ; do
	svmkit::sudo chmod 755 /home/sol/$i
	svmkit::sudo chown sol:sol /home/sol/$i
    done

    cat <<EOF | svmkit::sudo tee /etc/systemd/system/"${VALIDATOR_SERVICE}" >/dev/null
[Unit]
Description=SVMkit $VALIDATOR_VARIANT validator

[Service]
Type=exec
User=sol
Group=sol
ExecStart=/home/sol/run-validator
ExecStartPost=/home/sol/check-validator
ExecStop=/home/sol/stop-validator
LimitNOFILE=1000000

[Install]
WantedBy=default.target
EOF
    svmkit::sudo systemctl daemon-reload
    svmkit::sudo systemctl enable "${VALIDATOR_SERVICE}"
    svmkit::sudo systemctl start "${VALIDATOR_SERVICE}"
}

step::80::setup-validator-info() {
    local args

    [[ -v VALIDATOR_INFO_NAME ]] || return 0

    if [[ -v VALIDATOR_INFO_WEBSITE ]]; then
        args+=(--website "$VALIDATOR_INFO_WEBSITE")
    fi

    if [[ -v VALIDATOR_INFO_ICON_URL ]]; then
        args+=(--icon-url "$VALIDATOR_INFO_ICON_URL")
    fi

    if [[ -v VALIDATOR_INFO_DETAILS ]]; then
        args+=(--details "$VALIDATOR_INFO_DETAILS")
    fi

    svmkit::sudo -u sol -i solana validator-info publish "${args[@]}" "$VALIDATOR_INFO_NAME"
}
