# -*- mode: shell-script -*-
# shellcheck shell=bash

step::00::wait-for-a-stable-environment() {
    cloud-init::wait-for-stable-environment
}

step::05::setup-abklabs-apt() {
    svmkit::apt::update
    svmkit::apt::get install curl gnupg

    svmkit::flock::start
    local did_add_key=false
    if ! grep -q "^deb .*/svmkit dev main" /etc/apt/sources.list /etc/apt/sources.list.d/*; then
        curl -s https://apt.abklabs.com/keys/abklabs-archive-dev.asc | svmkit::sudo apt-key add -
        echo "deb https://apt.abklabs.com/svmkit dev main" |
            svmkit::sudo tee /etc/apt/sources.list.d/svmkit.list >/dev/null
        did_add_key=true
    fi
    svmkit::flock::end

    if $did_add_key; then
        svmkit::apt::update
    fi
}

step::10::install-packages() {
    svmkit::apt::update
    svmkit::apt::get --allow-downgrades install "${PACKAGE_LIST[@]}"
}
