# -*- mode: shell-script -*-
# shellcheck shell=bash

step::00::wait-for-a-stable-environment() {
    cloud-init::wait-for-stable-environment
}

step::05::setup-abklabs-apt() {
    svmkit::apt::update
    svmkit::apt::get install curl gnupg

    svmkit::flock::start
    # Remove our old list that might be hanging around.
    svmkit::sudo rm -f /etc/apt/sources.list.d/svmkit.list
    # Put our new deb822 config in its place.
    svmkit::sudo cp svmkit.sources /etc/apt/sources.list.d/.
    curl -s https://apt.abklabs.com/keys/abklabs-archive-dev.asc | svmkit::sudo apt-key add -
    svmkit::flock::end

    # Bring in the new packages from our source list
    svmkit::apt::update
}

step::10::install-packages() {
    svmkit::apt::update
    svmkit::apt::get --allow-downgrades install "${PACKAGE_LIST[@]}"
}
