# -*- mode: shell-script -*-
# shellcheck shell=bash

# TODO: Make a custom service name configurable to you can run multiple
# instances on a machine. e.g. one for testnet and one for mainnet
WATCHTOWER_SERVICE=svmkit-agave-watchtower.service

step::00::wait-for-a-stable-environment() {
    cloud-init::wait-for-stable-environment
}

step::05::setup-abklabs-apt() {
    apt::setup-abk-apt-source
}

step::10::install-dependencies() {
    svmkit::apt::get install svmkit-agave-watchtower
}

step::20::create-sol-user() {
    create-sol-user
}

step::30::setup-watchtower-startup() {
    if systemctl list-unit-files "${WATCHTOWER_SERVICE}" >/dev/null; then
        svmkit::sudo systemctl stop "${WATCHTOWER_SERVICE}" || true
    fi

    cat <<EOF | svmkit::sudo tee /home/sol/run-watchtower >/dev/null
#!/usr/bin/env bash

$WATCHTOWER_ENV exec agave-watchtower $WATCHTOWER_FLAGS
EOF

    svmkit::sudo chmod 755 /home/sol/run-watchtower
    svmkit::sudo chown sol:sol /home/sol/run-watchtower

    cat <<EOF | svmkit::sudo tee /etc/systemd/system/"${WATCHTOWER_SERVICE}" >/dev/null
[Unit]
Description=SVMkit watchtower

[Service]
Type=exec
User=sol
Group=sol
ExecStart=/home/sol/run-watchtower

[Install]
WantedBy=default.target
EOF
    svmkit::sudo systemctl daemon-reload
    svmkit::sudo systemctl enable "${WATCHTOWER_SERVICE}"
    svmkit::sudo systemctl start "${WATCHTOWER_SERVICE}"
}
