# -*- mode: shell-script -*-
# shellcheck shell=bash

EXPLORER_SERVICE=svmkit-solana-explorer.service

step::000::wait-for-a-stable-environment() {
    cloud-init::wait-for-stable-environment
}

step::001::setup-abklabs-api() {
    apt::setup-abk-apt-source
}

step::003::install-explorer() {
    svmkit::apt::get install "${PACKAGE_LIST[@]}"
    svmkit::sudo npm install -g pnpm
}

step::004::create-sol-user() {
    create-sol-user
}

step::005::configure-firewall() {
    svmkit::sudo ufw allow "$EXPLORER_PORT/tcp"
    svmkit::sudo ufw allow 22/tcp
    svmkit::sudo ufw --force enable
    svmkit::sudo ufw reload
}

step::006::setup-explorer() {
    svmkit::sudo chown -R sol:sol {{.Paths.InstallPath}}
}

step::007::setup-explorer-startup() {
    if systemctl list-unit-files "${EXPLORER_SERVICE}" >/dev/null; then
        svmkit::sudo systemctl stop "${EXPLORER_SERVICE}" || true
    fi

    cat <<EOF | svmkit::sudo tee {{.Paths.RunBinPath}} >/dev/null
#!/usr/bin/env bash

cd {{.Paths.InstallPath}}
$EXPLORER_ENV exec pnpm start {{.Paths.InstallPath}} $EXPLORER_FLAGS
EOF

    svmkit::sudo chmod 755 {{.Paths.RunBinPath}}
    svmkit::sudo chown sol:sol {{.Paths.RunBinPath}}

    cat <<EOF | svmkit::sudo tee {{.Paths.SystemdPath}}/"${EXPLORER_SERVICE}" >/dev/null
[Unit]
Description=SVMkit Solana Explorer

[Service]
Type=exec
User=sol
Group=sol
ExecStart={{.Paths.RunBinPath}}

[Install]
WantedBy=default.target
EOF
    svmkit::sudo systemctl daemon-reload
    svmkit::sudo systemctl enable "${EXPLORER_SERVICE}"
    svmkit::sudo systemctl start "${EXPLORER_SERVICE}"
}
