# -*- mode: shell-script -*-
# shellcheck shell=bash

FAUCET_SERVICE=svmkit-solana-faucet.service

step::000::wait-for-a-stable-environment() {
    cloud-init::wait-for-stable-environment
}

step::001::setup-abklabs-api() {
    apt::setup-abk-apt-source
}

step::003::install-faucet() {
    svmkit::apt::get install "${PACKAGE_LIST[@]}"
}

step::004::create-sol-user() {
    create-sol-user
}

step::005::configure-firewall() {
    svmkit::sudo ufw allow "$FAUCET_PORT/tcp"
    svmkit::sudo ufw allow 22/tcp
    svmkit::sudo ufw --force enable
    svmkit::sudo ufw reload
}

step::006::copy-faucet-keys() {
    svmkit::sudo cp faucet-keypair.json {{.Paths.KeypairPath}}
    svmkit::sudo chown sol:sol {{.Paths.KeypairPath}}
}

step::007::setup-faucet-startup() {
    if systemctl list-unit-files "${FAUCET_SERVICE}" >/dev/null; then
        svmkit::sudo systemctl stop "${FAUCET_SERVICE}" || true
    fi

    cat <<EOF | svmkit::sudo tee {{.Paths.RunBinPath}} >/dev/null
#!/usr/bin/env bash

$FAUCET_ENV exec solana-faucet $FAUCET_FLAGS
EOF

    svmkit::sudo chmod 755 {{.Paths.RunBinPath}}
    svmkit::sudo chown sol:sol {{.Paths.RunBinPath}}

    cat <<EOF | svmkit::sudo tee {{.Paths.SystemdPath}}/"${FAUCET_SERVICE}" >/dev/null
[Unit]
Description=SVMkit Solana Faucet

[Service]
Type=exec
User=sol
Group=sol
ExecStart={{.Paths.RunBinPath}}

[Install]
WantedBy=default.target
EOF
    svmkit::sudo systemctl daemon-reload
    svmkit::sudo systemctl enable "${FAUCET_SERVICE}"
    svmkit::sudo systemctl start "${FAUCET_SERVICE}"
}
