[Unit]
Description=SVMkit FD Machine Setup
After=local-fs.target
After=network.target

[Service]
Type=exec
User=root
Group=root
ExecStart=/opt/frankendancer/bin/fdctl configure init all --config /home/sol/config.toml 
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=default.target
