[Unit]
Description=SVMkit FD Machine Setup
After=local-fs.target
After=network.target

[Service]
Type=exec
User=root
Group=root
ExecStart=/opt/frankendancer/bin/fdctl --config {{.Paths.ConfigPath}} configure init all
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=default.target
