# -*- mode: shell-script -*-
# shellcheck shell=bash

TUNER_SERVICE=svmkit-tuner.service

write-to-tuner-log() {
    local line
    while IFS= read -r line; do
        echo "$line" | svmkit::sudo tee -a {{.Paths.TunerLogPath}} >/dev/null
    done
}

step::000::wait-for-a-stable-environment() {
    cloud-init::wait-for-stable-environment
}

step::001::setup-abklabs-api() {
    apt::setup-abk-apt-source
}

step::002::install-packages() {
    svmkit::apt::get install "${PACKAGE_LIST[@]}"
}

step::003::create-sol-user() {
    create-sol-user
}

step::004::setup-tuner() {
    svmkit::sudo rm -f {{.Paths.TunerLogPath}}
    svmkit::sudo touch {{.Paths.TunerLogPath}}
    svmkit::sudo chown -R sol:sol {{.Paths.TunerLogPath}}

    svmkit::sudo rm -f {{.Paths.SysctlConfPath}}
    svmkit::sudo touch {{.Paths.SysctlConfPath}}
    svmkit::sudo chown root:root {{.Paths.SysctlConfPath}}

    echo "# Tuning parameters enabled by SVMKit" | write-to-tuner-log
    while IFS= read -r line; do
        [[ -z "${line}" || "${line}" =~ ^# ]] && continue

        parameter=$(echo "${line}" | cut -d= -f1 | sed 's/[[:space:]]*$//')

        if svmkit::sudo sysctl "${parameter}" 2>/dev/null; then
            echo "${line}" | write-to-tuner-log
            echo "${line}" | svmkit::sudo tee -a {{.Paths.SysctlConfPath}}
        else
            echo "Parameter ${line} not supported on this system" | write-to-tuner-log
        fi
    done <svmkit-tuner.conf
}

step::005::setup-tuner-service() {
    if systemctl list-unit-files "${TUNER_SERVICE}" >/dev/null; then
        svmkit::sudo systemctl stop "${TUNER_SERVICE}" || true
    fi

    cat <<EOF | svmkit::sudo tee {{.Paths.RunBinPath}} >/dev/null
#!/usr/bin/env bash

echo "# ------------------------" | tee -a {{.Paths.TunerLogPath}}
echo "# Tuner ran at \$(date)" | tee -a {{.Paths.TunerLogPath}}

if [[ -n "${CPU_GOVERNOR:-}" ]]; then
    if cpufreq-info -g 2>/dev/null | grep -qw "$CPU_GOVERNOR"; then
        if cpufreq-set -g "$CPU_GOVERNOR"; then
            echo "CPU governor set to $CPU_GOVERNOR" | tee -a {{.Paths.TunerLogPath}}
        else
            echo "Failed to set CPU governor to $CPU_GOVERNOR" | tee -a {{.Paths.TunerLogPath}}
        fi
    else
        echo "CPU governor $CPU_GOVERNOR not supported on this system" | tee -a {{.Paths.TunerLogPath}}
    fi
fi
EOF

    svmkit::sudo chown root:root {{.Paths.RunBinPath}}
    svmkit::sudo chmod 700 {{.Paths.RunBinPath}}

    cat <<EOF | svmkit::sudo tee {{.Paths.SystemdPath}}/"${TUNER_SERVICE}" >/dev/null
[Unit]
Description=SVMkit Tuner

[Service]
Type=oneshot
User=root
Group=root
ExecStart={{.Paths.RunBinPath}}

[Install]
WantedBy=default.target
EOF

    svmkit::sudo systemctl daemon-reload
    svmkit::sudo systemctl enable "${TUNER_SERVICE}"
    svmkit::sudo systemctl start "${TUNER_SERVICE}"
    svmkit::sudo systemctl restart systemd-sysctl.service

}
